{% extends "base.html" %}

{% block content %}
  <h1 class="mt-3 mb-3">COVID-19 Spread Analysis</h1>
  <div class="row">
    <div class="col-md-4">
      <h4><font color="red">Top 15 States</font></h4>
      <p>This is the province state-wise COVID-19 data up to 20 July 2020.</p>
      <table class="table table-responsive-md table-dark">
        <thead>
          <tr>
            <th scope="col">Province State</th>
            <th scope="col">Confirmed</th>
          </tr>
        </thead>
        <tbody>
          {% for pair in pairs %}
            <tr>
              <td>{{ pair[0] }}</td>
              <td>{{ pair[1] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-8">
      <h4><font color="firebrick">World Map of Corona Cases</font></h4>
      <p>The bigger the circle, bigger is the impact of corona virus in that province state.</p>
      {{ cmap|safe }}
    </div>
  </div>
{% endblock %}


